<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<title>tunnle.js examples</title>

<script src="lib/stlviewer/three.js"></script>
<script src="lib/stlviewer/STLLoader.js"></script>
<script src="lib/stlviewer/OrbitControls.js"></script>
<script src="lib/vue.min.js"></script>


<script src="src/helper/htmlHelper.js"></script>
<script src="src/simplestl.js"></script>
<script src="src/simplelinearalgebra.js"></script>
<script src="src/tunnle.js"></script>
<script src="src/simple3dloader.js"></script>

<style>
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size:12px;
    }
    .inputOuter {
        width:600px;
    }
    .label {
        width:20%;
        padding:2px;
        display:inline-block;
    }

    .labelWide {
        width:90%;
        padding:2px;
        display:inline-block;
    }

    .group {
        padding:10px;
    }

    .inputSmall {
        width:20%;
    }

    input, select {
        width:70%;
        padding:2px;
        display:inline-block;
    }

</style>

</head>

<body>
    <div id="editor" style="float:left;">
        <div class="group">
            <div class="inputOuter"><div class="label">Example: </div>
                <select v-model="selectedExample">
                    <option v-for="option in examples" v-bind:value="option.id">
                      {{option.name}}
                    </option>
                  </select>
            </div>
            
        </div>
        <div class="group">
            <div class="inputOuter"><div class="labelWide">//Horizontal / Vertical steps</div></div>
            <div class="inputOuter"><div class="label">horizontalSteps = </div><input v-model="horizontalSteps"/></div>
            <div class="inputOuter"><div class="label">verticalSteps = </div><input v-model="verticalSteps"/></div>
        </div>

        <div class="group">
            <div class="inputOuter"><div class="labelWide">//"i" is an iterator from 0 to horizontalSteps</div></div>
            <div class="inputOuter"><div class="labelWide">//"h" is an iterator from 0 to verticalSteps</div></div>
            <div class="inputOuter"><div class="labelWide">innerWallVertexAt(i, h) {</div></div>
            <div class="inputOuter"><div class="label">x = </div><input v-model="innerWallDefinition.x"/></div>
            <div class="inputOuter"><div class="label">y = </div><input v-model="innerWallDefinition.y"/></div>
            <div class="inputOuter"><div class="label">z = </div><input v-model="innerWallDefinition.z"/></div>
            <div class="inputOuter"><div class="labelWide">return {x, y, z};</div></div>
            <div class="inputOuter"><div class="inputWide">}</div></div>
        </div>
        
        <div class="group">
            <div class="inputOuter"><div class="labelWide">outerWallVertexAt(i, h) {</div></div>
            <div class="inputOuter"><div class="label">x = </div><input v-model="outerWallDefinition.x"/></div>
            <div class="inputOuter"><div class="label">y = </div><input v-model="outerWallDefinition.y"/></div>
            <div class="inputOuter"><div class="label">z = </div><input v-model="outerWallDefinition.z"/></div>
            <div class="inputOuter"><div class="labelWide">return {x, y, z};</div></div>
            <div class="inputOuter"><div class="inputWide">}</div></div>
        </div>

        <div class="group">
            <div class="inputOuter"><div class="labelWide">Holes</div></div>
            <div class="inputOuter" v-for="hole in otherHoles">
                <div class="label">bottom=</div><input class="inputSmall" v-model="hole.bottom"/>
                <div class="label">top=</div><input  class="inputSmall" v-model="hole.top"/>
                <div class="label">left=</div><input class="inputSmall" v-model="hole.left"/>
                <div class="label">right=</div><input class="inputSmall" v-model="hole.right"/>
                <button @click="deleteHole">Delete</button>
            </div>
        </div>

        <button @click="addHole">Add hole</button>

        <button @click="updateExample">Update</button>
    </div>
    <div id="example" style="float:left;">

    </div>
    <script>
        setTimeout(function () {
            createEditorHTML();
        },100);
    </script>
</body>

</html>